body {
    background-size: auto;
    background-image: url(Bilder/Hintergrundbild.jpg);
    height: 8000px;

    
}

.Navigation{
    float: left;
}

a:link{
    color: white;
    text-decoration: underline;
}

a:visited{
    color:blueviolet;
    text-decoration: underline;
}

a:hover{
    color:darkturquoise;
    text-decoration: underline;
}

.Anmeldung{
    text-align: center;
    float:right;
    padding-top: 20px;
}


#Gesamt {
    margin-left: auto;
    position: absolute;
    left: 115px;
    right: 115px;
    margin-right: auto;
    max-width: 500px;
    color: white;
    padding: 2%;
    text-align:center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

p{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 115px;
    right: 115px;
    padding-top: 175px;
    text-align: center;
    color: white;

}

th{
    width: 800px;
    height: 250px;
}

h2{
    color:white;
    font-family: Arial;
}

#container{
    margin-left: auto;
    left: 115px;
    right: 115px;
    margin-right: auto;
}

.Cpu{
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.Motherboard{
    margin-bottom: 15px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.Ram{
    margin-bottom: 15px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#container2{
    margin-left: auto;
    left: 115px;
    right: 115px;
    margin-right: auto;
}

.Gehäuse{
    margin-bottom: 25px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.Gpu{
    margin-bottom: 25px;
    padding-top: 43px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.Netzteil{
    margin-bottom: 25px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.Einkaufsliste{
    padding-top: 60px;
    text-align: center;
}