
/*Hintergrundbild eingefügt und Bild auf reale Größe des Hintergrundbilds gestellt*/
body {
    background-size: auto;
    background-image: url(Bilder/Hintergrundbild.jpg);   
}

/*Hyperlinks an das Linke element geordnet*/
.Navigation{
    float: left;
}

/*Hyperlinks Standartfarbe weiß und unterstrichen*/
a:link{
    color: white;
    text-decoration: underline;
}

/*Wenn besucht Hyperlinks Standartfarbe blueviolet und unterstrichen*/
a:visited{
    color:blueviolet;
    text-decoration: underline;
}

/*Wenn man mit der Maus draufgeht Hyperlinks Standartfarbe türkis und unterstrichen*/
a:hover{
    color:darkturquoise;
    text-decoration: underline;
}

/*Anmeldemenü an das rechte element geordnet, Zentriert und mit margin nach unten verschoben*/
.Anmeldung{
    text-align: center;
    float:right;
    margin-top: 20px;
}

/*Einen Unsichtbaren Rahmen und mit einer max Breite von 500px erstellt.
  Mit left/right in die Mitte gesetzt*/
#Gesamt {
    margin-left: auto;
    position: absolute;
    left: 115px;
    right: 115px;
    margin-right: auto;
    max-width: 500px;
}

/*Logo Zentriert*/
#Logo {
    padding: 2%;
    text-align:center;
}

/*Breite/Höhe für die Tabelle eingestellt*/
th{
    width: 800px;
    height: 250px;
}

/*Überschriften der Tabelle auf weiß und Arial gesetzt*/
h2{
    color:white;
    font-family: Arial;
}

/*Text in den Tabellen auf farbe weiß und Schriftart Arial gesetzt*/
p{
    color: white;
    font-family: Arial;
}

/*Position des Zwischen Div-Container gesetzt (in die Mitte)*/
#container{
    margin-left: auto;
    left: 115px;
    right: 115px;
    margin-right: auto;
}

/*Div-Container Zentriert und einen Weißen Rahmen drum gemacht mit einer Breite von 2px*/
.Cpu{
    margin-bottom: 20px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

/*Div-Container Zentriert und einen Weißen Rahmen drum gemacht mit einer Breite von 2px*/
.Motherboard{
    margin-bottom: 15px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

/*Div-Container Zentriert und einen Weißen Rahmen drum gemacht mit einer Breite von 2px*/
.Ram{
    margin-bottom: 15px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

/*Position des Zwischen Div-Container gesetzt (in die Mitte 
  und unter dem ersten Zwischen Div-Container)*/
#container2{
    margin-left: auto;
    left: 115px;
    right: 115px;
    margin-right: auto;
}

/*Div-Container Zentriert und einen Weißen Rahmen drum gemacht mit einer Breite von 2px*/
.Gehäuse{
    margin-bottom: 25px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

/*Div-Container Zentriert und einen Weißen Rahmen drum gemacht mit einer Breite von 2px*/
.Gpu{
    margin-bottom: 23px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

/*Div-Container Zentriert und einen Weißen Rahmen drum gemacht mit einer Breite von 2px*/
.Netzteil{
    margin-bottom: 25px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

/*Drucklayout erstellt*/
@media print{

        /*Anmeldungbar Hyperlinks ausgeblendet*/
    .Anmeldung, .Navigation{
        display: none;
    }

        /*Bilder ausgeblendet*/
    img{
        display: none;
    }

        /*Rahmen um die Texte gemacht*/
    .Cpu, .Motherboard, .Ram, .Gehäuse, .Gpu, .Netzteil{
        display: block;   
        border-color: black;
        border-radius: 2,5px;
    } 

        /*Rahmen Innenabstände vergrößert*/
    .Cpu{
        padding-bottom: 12px;
    }

        /*Außenabstand von Container 2 zu Container vergrößert */
    #container2{
        margin-bottom: 500px;
    }

        /*Rahmen Innenabstände vergrößert*/
    .Motherboard{
        padding-top: 30px;
        margin-bottom: 15px;
    }

        /*Rahmen Innenabstände vergrößert*/
    .Ram{
        padding-top: 30px;
        margin-bottom: 15px;
    }
}